body {
  background-color: #202040;
  font-family: 'Roboto';
  font-size: 22px;
}

Needs adding to the top of all pages.
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

Colour scheme.
https://colorhunt.co/palette/178936
