* {
    margin: 0%;
    padding: 0%;
}

#all_content {
    margin: 5% 5%;
    font-family: 'Open Sans', sans-serif;
}

#menu_top {
  text-align: center;
  font-weight: bold;
}

#menu_top li {
  display:block;
}

#menu_top li a {
  text-decoration:none;
  color: #000000;
}

#menu_top li a:active {
  color: #808080;
}

#back_button {
  text-decoration: none;
  color: #000000;
}

#back_button:active {
  color: #808080;
}

h1 {
    margin: 5% 0% 2% 0%;
    color: #FF585D;
    text-decoration-line: underline;
    text-align: center;
}

h2 {
  padding: 3% 0% 0% 0%;
}

#contact_form {
    width: 99.5%;
}

#contact_form label {
    float: left;
    width: 30%;
    margin: 5% 0% 1% 0%;
}

#contact_form input[type="text"] {
    width: 100%;
    margin: 3% 0% 0% 0%;
    padding: 1%;
    font-size: 20px;
    border: solid black;
    border-radius: 6px;
    border-width: thin;
    border-style: solid;
}

#contact_form input[type="submit"] {
    width: 100%;
    margin: 3% 0% 0% 0%;
    padding: 1%;
    font-size: 20px;
    border-radius: 6px;
    border-color: #FF585D;
    border-width: thin;
    border-style: solid;
    background-color: #FFFFFF;
    color: #FF585D;
}

#contact_form input[type="submit"]:active {
    width: 100%;
    margin: 3% 0% 0% 0%;
    font-size: 20px;
    border-radius: 6px;
    border-color: #FF585D;
    border-width: thin;
    border-style: solid;
    background-color: #FF585D;
    color: #FFFFFF;
}

footer {
    margin: 8% 0% 0% 0%;
    padding: 5% 0% 5% 0%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    position:fixed;
    bottom:0;
    width: 100%;
}

@media (min-width: 700px) {
    * {
        margin: 0%;
        padding: 0%;
    }

    #all_content {
      margin: 0% 20% 0% 20%;
      font-family: 'Open Sans', sans-serif;
    }

    #menu_top {
      margin: 3% auto;
      text-align: center;
      font-weight: bold;
    }

    #menu_top li {
      display:inline;
    }

    #menu_top li a {
      padding:0 30px;
      text-decoration:none;
      color: #000000;
    }

    #menu_top li a:hover {
      color: #808080;
    }

    #back_button {
      text-decoration: none;
      color: #000000;
    }

    #back_button:hover {
      color: #808080;
    }

    h1 {
      margin: 5% 0% 2% 0%;
      color: #FF585D;
      text-decoration-line: underline;
      text-align: center;
    }

    h2 {
      padding: 3% 0% 0% 0%;
    }

    #contact_form {
      width: 100%;
      margin: 0% auto;
    }

    #contact_form label {
      float: left;
      width: 30%;
      margin: 5% 0% 1% 0%;
      text-align: left;
    }

    #contact_form p {
      text-align: left;
    }

    #contact_form input[type="text"] {
      width: 100%;
      padding: 1%;
      font-size: 20px;
      border: solid black;
      border-radius: 10px;
      border-width: thin;
      border-style: solid;
    }

    #contact_form input[type="submit"] {
      width: 20%;
      margin: 3% 0% 0% 0%;
      font-size: 20px;
      border-radius: 10px;
      border-color: #FF585D;
      border-width: thin;
      border-style: solid;
      background-color: #FFFFFF;
      color: #FF585D;
    }

    #contact_form input[type="submit"]:hover {
      width: 20%;
      margin: 3% 0% 0% 0%;
      font-size: 20px;
      border-radius: 10px;
      border-color: #FF585D;
      border-width: thin;
      border-style: solid;
      background-color: #FF585D;
      color: #FFFFFF;
    }

    footer {
      margin: 8% 0% 0% 0%;
      padding: 5% 0% 5% 0%;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      position:fixed;
      bottom:0;
      width: 100%;
    }

}
