body {
    color: #5DA2D5;
    background-color: #19181A;
}

input {
    padding-top: 2px;
    background-color: #ECECEC;
    border: none;    
    border-radius: 10px;
    width: 300px;
    height: 30px;
}

#submit {
    background-color: #5DA2D5;
    color: #ECECEC;
    border: none;
    border-radius: 10px;
    height: 40px;
}

